<nav class="navbar navbar-default navbar-static-top" ng-init="$ctrl.init()">
    <div class="navbar-header">
        <button type="button" id="navbarCollapse" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" ng-show="$ctrl.dados.autenticado">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" ng-class="{headerUnlogged:!$ctrl.dados.autenticado}" href="/"><span>Claro</span></a>

        <a class="navbar-btn__seller navbar-btn__seller--thumbnail pull-right" ng-show="$ctrl.dados.autenticado" href="/relatorio">
            <span class="seller__name">{{$ctrl.dados.nome}}</span>
        </a>
    </div>

    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li ng-if="$ctrl.pedidoAberto"><a ng-click="$ctrl.novoPedido()">Novo Pedido</a></li>
            <li ng-if="$ctrl.cancelarPedido"><a ng-click="$ctrl.novoPedido()">Cancelar Pedido</a></li>
            <li ng-if="$ctrl.exibeRelatorio"><a ng-click="$ctrl.relatorio()">Meus Pedidos</a></li>
            <li><a ng-click="$ctrl.sair()">Log out</a></li>
        </ul>
    </div>
</nav>
